<config>
	<modules>
		<Widget_Slider>
			<version>2.0</version>
		</Widget_Slider>
	</modules>
	<global>
		<models>
			<widget_slider>
				<class>Widget_Slider_Model</class>
				<resourceModel>widget_slider_resource</resourceModel>
			</widget_slider>
			<widget_slider_resource>
				<class>Widget_Slider_Model_Resource</class>
				<entities>
					<Slider>
						<table>widget_slider</table>
					</Slider>
					<Slide>
						<table>widget_slide</table>
					</Slide>
				</entities>
			</widget_slider_resource>
		</models>
		<blocks>
			<widget-slider>
				<class>Widget_Slider_Block</class>
			</widget-slider>
		</blocks>
		<helpers>
			<widget_slider>
				<class>Widget_Slider_Helper</class>
			</widget_slider>
			<widget_slide>
				<class>Widget_Slider_Helper</class>
			</widget_slide>
		</helpers>
		<resources>
			<widget_slider_read>
				<connection>
					<use>core_read</use>
				</connection>
			</widget_slider_read>
			<widget_slider_write>
				<connection>
					<use>core_write</use>
				</connection>
			</widget_slider_write>
			<widget_slider_setup>
				<setup>
					<module>Widget_Slider</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</widget_slider_setup>
			<widget_slide_setup>
				<setup>
					<module>Widget_Slider</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</widget_slide_setup>
		</resources>
	</global>
	<frontend>
		<layout>
			<updates>
				<widget_slider>
					<file>widget/slider.xml</file>
				</widget_slider>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<widget-slider>
				<use>admin</use>
				<args>
					<module>Widget_Slider_Adminhtml</module>
					<frontName>widget-slider</frontName>
				</args>
			</widget-slider>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<widget_slider>
					<file>widget/slider.xml</file>
				</widget_slider>
			</updates>
		</layout>
	</adminhtml>
	<default>
		<widget_slider_section>
			<general>
				<enabled>1</enabled>
			</general>
		</widget_slider_section>
	</default>
</config>