<config>
	<modules>
		<Sm_Megamenu>
			<version>1.0</version>
		</Sm_Megamenu>
	</modules>
	<global>
		<blocks>
			<catalog>
				<rewrite>
					<navigation>Sm_Megamenu_Block_Navigation</navigation>
				</rewrite>
			</catalog>
			<page>
				<rewrite>
					<html_topmenu>Sm_Megamenu_Block_Topmenu</html_topmenu>
				</rewrite>
			</page>
			<sm_megamenu>
				<class>Sm_Megamenu_Block</class>
			</sm_megamenu>
		</blocks>
		<models>
			<sm_megamenu>
				<class>Sm_Megamenu_Model</class>
			</sm_megamenu>
		</models>
		<helpers>
			<sm_megamenu>
				<class>Sm_Megamenu_Helper</class>
			</sm_megamenu>
		</helpers>
	</global>
	<frontend>
		<routers>
			<sm_megamenu>
				<use>standard</use>
				<args>
					<module>Sm_Megamenu</module>
					<frontName>sm_megamenu</frontName>
				</args>
			</sm_megamenu>
		</routers>
		<layout>
			<updates>
				<sm_megamenu>
					<file>sm/megamenu.xml</file>
				</sm_megamenu>
			</updates>
		</layout>
	</frontend>
	<default>
		<sm_megamenu_section>
			<general>
				<enabled>1</enabled>
				<type>1</type>
				<column>6</column>
				<max_level>5</max_level>
				<show_home_link>1</show_home_link>
				<show_form_login>1</show_form_login>
				<display_thumbnail_categories>1</display_thumbnail_categories>
				<show_product_in_empty_category>1</show_product_in_empty_category>
				<quantity_showed_products>8</quantity_showed_products>
			</general>
		</sm_megamenu_section>
	</default>
</config>